Siad1_struttura_v2024.xsd

<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" elementFormDefault="qualified" attributeFormDefault="unqualified">
	<xs:element name="FlsAssDom_1">
		<xs:complexType>
			<xs:sequence>
				<xs:element name="Assistenza" maxOccurs="unbounded">
					<xs:complexType>
						<xs:sequence>
							<xs:element name="Trasmissione">
								<xs:complexType>
									<xs:attribute name="tipo" use="required"/>
								</xs:complexType>
							</xs:element>
							<xs:element name="Assistito">
								<xs:complexType>
									<xs:sequence>
										<xs:element name="DatiAnagrafici">
											<xs:complexType>
												<xs:sequence>
													<xs:element name="CUNI"/>
													<xs:element name="validitaCI"/>
													<xs:element name="tipologiaCI"/>
													<xs:element name="AnnoNascita"/>
													<xs:element name="Genere"/>
													<xs:element name="Cittadinanza"/>
													<xs:element name="StatoCivile"/>
													<xs:element name="ResponsabilitaGenitoriale" minOccurs="0"/>
													<xs:element name="Residenza">
														<xs:complexType>
															<xs:sequence>
																<xs:element name="Regione"/>
																<xs:element name="ASL"/>
																<xs:element name="Comune"/>
																<xs:element name="StatoEstero" minOccurs="0"/>
															</xs:sequence>
														</xs:complexType>
													</xs:element>
												</xs:sequence>
											</xs:complexType>
										</xs:element>
									</xs:sequence>
								</xs:complexType>
							</xs:element>
							<xs:element name="Conviventi">
								<xs:complexType>
									<xs:sequence>
										<xs:element name="NucleoFamiliare"/>
										<xs:element name="AssistenteNonFamiliare"/>
									</xs:sequence>
								</xs:complexType>
							</xs:element>
							<xs:element name="Erogatore">
								<xs:complexType>
									<xs:sequence>
										<xs:element name="CodiceRegione"/>
										<xs:element name="CodiceASL"/>
										<xs:element name="AppartenenzaRete" minOccurs="0"/>
										<xs:element name="TipoRete" minOccurs="0"/>
									</xs:sequence>
								</xs:complexType>
							</xs:element>
							<xs:element name="Eventi">
								<xs:complexType>
									<xs:sequence>
										<xs:element name="PresaInCarico">
											<xs:complexType>
												<xs:sequence>
													<xs:element name="Id_Rec"/>
												</xs:sequence>
												<xs:attribute name="data" use="required"/>
												<xs:attribute name="soggettoRichiedente" use="required"/>
												<xs:attribute name="TipologiaPIC" use="required"/>
												<xs:attribute name="PianificazioneCondivisa"/>
											</xs:complexType>
										</xs:element>
										<xs:element name="Valutazione">
											<xs:complexType>
												<xs:sequence>
													<xs:element name="Patologia">
														<xs:complexType>
															<xs:sequence>
																<xs:element name="Prevalente"/>
																<xs:element name="Concomitante"/>
															</xs:sequence>
														</xs:complexType>
													</xs:element>
													<xs:element name="Autonomia" nillable="true" minOccurs="0"/>
													<xs:element name="GradoMobilita" minOccurs="0"/>
													<xs:element name="Disturbi">
														<xs:complexType>
															<xs:sequence>
																<xs:element name="Cognitivi"/>
																<xs:element name="Comportamentali"/>
															</xs:sequence>
														</xs:complexType>
													</xs:element>
													<xs:element name="SupportoSociale"/>
													<xs:element name="FragilitaFamiliare"/>
													<xs:element name="RischioInfettivo"/>
													<xs:element name="RischioSanguinamento"/>
													<xs:element name="DrenaggioPosturale"/>
													<xs:element name="OssigenoTerapia"/>
													<xs:element name="Ventiloterapia"/>
													<xs:element name="Tracheostomia"/>
													<xs:element name="Alimentazione">
														<xs:complexType>
															<xs:sequence>
																<xs:element name="Assistita"/>
																<xs:element name="Enterale"/>
																<xs:element name="Parenterale"/>
															</xs:sequence>
														</xs:complexType>
													</xs:element>
													<xs:element name="GestioneStomia"/>
													<xs:element name="ElimiUrinariaIntestinale"/>
													<xs:element name="AlterRitmoSonnoVeglia"/>
													<xs:element name="IntEduTerapeutica"/>
													<xs:element name="LesioniCute"/>
													<xs:element name="CuraUlcereCutanee12Grado"/>
													<xs:element name="CuraUlcereCutanee34Grado"/>
													<xs:element name="PrelieviVenosiNonOcc"/>
													<xs:element name="ECG"/>
													<xs:element name="Telemetria"/>
													<xs:element name="TerSottocutIntraMuscInfus"/>
													<xs:element name="GestioneCatetere"/>
													<xs:element name="Trasfusioni"/>
													<xs:element name="ControlloDolore"/>
													<xs:element name="CurePalliative" minOccurs="0"/>
													<xs:element name="TrattamentiRiab">
														<xs:complexType>
															<xs:sequence>
																<xs:element name="Neurologico"/>
																<xs:element name="Motorio"/>
																<xs:element name="DiMantenimento"/>
															</xs:sequence>
														</xs:complexType>
													</xs:element>
													<xs:element name="SupervisioneContinua"/>
													<xs:element name="AssistenzaIADL"/>
													<xs:element name="AssistenzaADL"/>
													<xs:element name="SupportoCareGiver"/>
													<xs:element name="ValutazioneUCPDOM" minOccurs="0">
														<xs:complexType>
															<xs:sequence>
																<xs:element name="SegnoSintomoClinico"/>
																<xs:element name="UtilStrumentoIdentBisognoCP"/>
																<xs:element name="UtilStrumentoValMultid"/>
															</xs:sequence>
														</xs:complexType>
													</xs:element>
												</xs:sequence>
												<xs:attribute name="data" use="required"/>
											</xs:complexType>
										</xs:element>
									</xs:sequence>
								</xs:complexType>
							</xs:element>
						</xs:sequence>
					</xs:complexType>
				</xs:element>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
</xs:schema>